/* WinnersGallery.module.css */

/* Slider Animation */
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-247px * 4)); /* Adjust based on the number of slides */
    }
  }
  
  .slider {
    background: white;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .slideTrack {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(247px * 8); /* Double the width for seamless looping */
  }
  
  .slide {
    flex: 0 0 247px; /* Fixed width for each slide (matches w-80) */
  }